@inherits LayoutComponentBase

@* Přidání Telerik CSS stylu *@
<link href="_content/Telerik.UI.for.Blazor/css/kendo-theme-default/all.css" rel="stylesheet" />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@* Přidání Telerik JavaScriptu – nutné pro funkčnost gridu *@
<script src="_content/Telerik.UI.for.Blazor/js/telerik-blazor.js"></script>
